# JetBrains
.idea

# Vagrant
.vagrant
*.log

# Terraform
.terraform
*.tfstate
*.tfstate.*
*.pem
*.pub

# Ignore submodules for now since they are under active development
openwhisk/
openwhisk-deploy-kube/
