k8s:
  dns: kube-dns.kube-system
  persistence:
    enabled: false

whisk:
  ingress:
    apiHostName: {{ API_HOST_NAME }}

controller:
  edge: true
  imageName: "whisk/controller"
  imageTag: "latest"

invoker:
  imageName: "whisk/invoker"
  imageTag: "latest"
  containerFactory:
    impl: "docker"
